.body {

    font-family: 'Rubik', sans-serif !Important;
    font-weight: 400 !important;
    margin:0;
	padding:0;
	height:100%;
}

/* Custom Navbar */

.navbar-default {
  background-color: #fdfdfd;
  border-color: #d8d8d8;
    
}
.navbar-default .navbar-brand {
  color: #4d4d4d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #4d4d4d;
}
.navbar-default .navbar-nav > li > a {
  color: #4d4d4d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #d8d8d8;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #d8d8d8;
}
.navbar-default .navbar-toggle {
  border-color: #d8d8d8;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #d8d8d8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #4d4d4d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #4d4d4d;
}
.navbar-default .navbar-link {
  color: #4d4d4d;
}
.navbar-default .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #4d4d4d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #d8d8d8;
  }
}
.navbar-text {
    margin-top: 20px !Important;
    margin-right: 1% ;
    font-size: 20px;
    display: inline;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.brandlogo {
 
    width: 250px; 
    margin-top: 3px;
    margin-left: 2px;
    
}

.navbar {
    min-height: 70px !important;
    
}

/* End Custom Navbar */

.content {
    padding-top: 100px !Important;
}

h2 {
    font-family: 'Rubik', sans-serif;
    display: inline;
    font-weight: 500;
}

.countdown-time {
    text-align: right;
    float: right;
    margin-top: 0px;
}

.nav-pills > li > a{
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    color: rgb(30,30,30);
    font-size: 16px;
    text-transform: uppercase;
    width: 205px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(235, 235, 235);
    
    
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
    background-color: rgb(235, 235, 235);    
    
}

.nav-pills > li> a {
    
    -webkit-transition: all ease 0.1s;
	-moz-transition: all ease 0.1s;
	transition: all ease 0.1s;
    margin-right: 10px;
    margin-left: 10px;
    
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: rgb(30,30,30);
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(30,30,30) !Important;
    
    
}

.nav-pills > li.back > a {
    color: rgb(30,30,30);
    background-color: rgb(254, 224, 3);
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-pills > li.back > a:hover,
.nav-pills > li.back > a:focus {
    color: rgb(254, 224, 3);
    background-color: rgb(30,30,30);
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
    
}

.tab-content {
    font-family: 'Rubik', sans-serif !Important;
    font-weight: 400;
}

table {
    border: none ;
    font-size: 18px;
}

th {
    font-size: 20px;
}

.event-title {
    font-weight: 00;
}

.header {
    box-shadow: inset 0px 6px 0px rgb(254, 224, 3);
    padding-top: 6px;
}

.timetable-title {
    padding-top: 1px;
    padding-top: 10px;
    padding-left: 7px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.div-nav {
    margin-left: 3px;

}

footer {
    background-color: rgb(232, 232, 232);
    color: rgb(51, 51, 51);
    
    
    padding-top: 20px;
    height: 250px !important;
    width: 100% !important;
	position: static;
	bottom:0;
	left:0;
    
}

div .footer-content {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
}

.leg-img {
    width: 35%;

    
}

.blind {
    color: inherit;
    text-decoration: none;
    
}

.blind:hover {
    color:inherit;
    text-decoration: none;
}

.btn-px {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
  border-radius: 5px;
  border-width: 3px;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: 'Rubik', sans-serif;
    padding-right: 10px;
    right: 3px;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
    text-transform: uppercase;
}

.btn-px:hover, .btn-px:focus, .btn-px:active, .btn-px.active, .open > .btn-px.dropdown-toggle {
    color: rgb(255,255,255);
  background-color: rgb(30,30,30);
  border-color: rgb(30,30,30);
}
.a-hidden {
    color: #777 !important;
}

.borderless td, .borderless th {
    border: none !important;
}

/* BEGIN MAP ICON COLORS */
.map-auditorium {
    color: rgb(81,168,249);
}

.map-library {
    color: rgb(112,192,64);
}

.map-504 {
    color: rgb(236, 92, 87);
}

.map-cafeteria {
    color: rgb(240,212,39);
}

.map-wsr {
    color: rgb(180,105,226);
}

.map-rr {
    color: rgb(52,73,93);
}
/* END MAP ICON COLORS */

#content {
	padding-bottom: 220px;
}

.link-title {
    text-transform: uppercase;
    color: black !important;
    font-weight: 500;
    font-size: 24px;
}

.link-title:hover {
    color: black !important;
}

.link-icons {
    width: 40%;
    padding-bottom: 5px;
    
}