/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
 { 
        
        .headings {
            max-width: 200% !important;
            padding-left: 10px;
            overflow: hidden;   
        }
      
      h1 {
    
    font-size: 1.75em !important;
          
    }
     
     headtext {
         font-size: 1.75em !important;
         line-height: 90%;
     }
      
      h3 {
          font-size: 1.25em !important;
          line-height: 89%;
      }
     
     .schedule {
    font-size: 1em;
     }
.brandlogo {
 
    width: 200px;
    padding-top: 0px !important;
  

    
}
     .table-borderless td,
.table-borderless th{
         font-size: 20px !important;
         
     }
     
     .table-borderless {
    padding-left: 120px !important;
}
    .sch-time {
         width: 350px;
        padding-left: 34px !important;
        padding-right: 4px !important;
        
     }
     
     .sch-event {
         width: 100%;
         
     }
.sch-emoji{
    width: 1px;
    padding-right: 10px !important;
}
 
     p {
         
    font-size: 18px;
         
     }
      

.headerlogo {
    width: 300px !important;
    
}

.headwrap .container {
  
    padding-left: 1px;

    
}

.leg-img {
   width: 290px;
    
}
     .headwrap .container {
        padding-left: 30px !important;
     }
     
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      

      
}


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}
