/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
 { 
        
        .headings {
            max-width: 200% !important;
            padding-left: 10px;
            overflow: hidden;   
        }
     
      .table-borderless {
        margin-left: -330px !important;
        left: 50% !Important;

    }

     
     
    
     .col-md-4 {
         padding-bottom: 20px;
         
         
     }
     
     .hero-h1 {
         font-size: 24px !Important;
     }
     
     .hero-h3 {
         font-size: 18px !Important;
     }
     
      h1 {
    
    font-size: 1.75em !important;
          
    }
     
     .hw-quote {
   font-family: 'playfair_displaybold_italic', serif;
   text-align: center;
   margin-left: -20px;
   font-size: 4em !Important;
}
     
     headtext {
         font-size: 1.75em !important;
         line-height: 90%;
     }
      
      h3 {
          font-size: 1.25em !important;
          line-height: 89%;
      }
     
     .schedule {
    font-size: 1em;
     }

     .table-borderless td,
.table-borderless th{
         font-size: 20px !important;
         
     }
     
     .table-borderless {
    padding-left: 120px !important;
}
    .sch-time {
         width: 350px;
        padding-left: 34px !important;
        padding-right: 4px !important;
        
     }
     
     .sch-event {
         width: 100%;
         
     }
.sch-emoji{
    width: 1px;
    padding-right: 10px !important;
}
 
     p {
         
    font-size: 18px;
         
     }
     
     .github {
    
    margin-left: 60px;
         
}

     .mlh {
         margin-left: 60px;
     }

.headerlogo {
    width: 300px !important;
    
}

.headwrap .container {
  
    padding-left: 1px;

    
}

.leg-img {
   width: 290px;
    
}
     .headwrap .container {
        padding-left: 30px !important;
     }
     
     .intel {
    padding-left: 85px;
    max-width: 70%;
}

.ok {
   margin-left: 10px;
}

.ms {
    max-width: 75%; 
    padding-top: 10px;
    padding-left: 65px;
}
     
     .footer-content {
         font-size: 13px;
     }
     
     
     
     
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
      
.brandlogo {
 
    width: 200px;
    padding-top: 0px !important;
    margin-top: -1px;
    padding-left: 25px;

    
}
      
}


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
      
      .brandlogo {
 
    width: 200px;
    padding-top: 0px !important;
    margin-top: -3px;
    padding-left: 5px;

    
}

}

/* GALAXY S5 and similar sized devices */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
      
      .headings {
            max-width: 200% !important;
            padding-left: 10px;
            overflow: hidden;   
        }
      
      h1 {
    
    font-size: 1.75em !important;
          
    }
     
     headtext {
         font-size: 1.75em !important;
         line-height: 90%;
     }
      
      h3 {
          font-size: 1.25em !important;
          line-height: 89%;
      }
     
     .schedule {
    font-size: 1em;
     }
      
      
      
      .brandlogo {
 
    width: 178px;
    padding-top: 0px !important;
    padding-left: 25px;
    margin-top: -1px;
    margin-left: 1px;

    
}
      
       .table-borderless td,
.table-borderless th{
         font-size: 20px !important;
         
     }
     
 
 
     p {
         
    font-size: 18px;
         
     }
      

.headerlogo {
    width: 300px !important;
    
}

.headwrap .container {
  
    padding-left: 1px;

    
}

.leg-img {
   width: 290px;
    
}
     .headwrap .container {
        padding-left: 30px !important;
     }
     
     .intel {
    padding-left: 85px;
    max-width: 70%;
}

.cdw {
    padding-top: 60px;
    padding-left: 70px;
    max-width: 78%;
}

.ms {
    max-width: 75%; 
    padding-top: 10px;
    padding-left: 65px;
}
     
     .footer-content {
         font-size: 13px;
     }
     
     

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
      
     
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {
       .sch-time {
         width: 350px;
        padding-left: 10px !important;
        padding-right: 4px !important;
        
     }
      
         .table-borderless {
    padding-left: 1px !important;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
      
      .brandlogo {
 
    width: 200px;
    padding-top: 0px !important;
    margin-top: -1px;
    padding-left: 30px;

    
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
      
      .brandlogo {
 
    width: 200px;
    padding-top: 0px !important;
    margin-top: -5px;
    padding-left: 25px;

    
}

}


/* DESKTOP SPLIT SCREEN */
@media (max-device-width: 768px) 
 { 
     .brandlogo {
         width: 195px !important;
    padding: 0px 0px !important;
    margin-top: -3px !important;
    padding-left: 25px;     
     }
    
}
