/* This is the styles for the STEMposium wbesite. */
/* Yellow accent color = rgb(254, 224, 3); */

body {
    font-family: 'montserratlight', sans-serif;
 font-weight: normal;
    font-style: normal;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size: 16px;
 
}

b{
 font-family: 'montserratbold', sans-serif !important;
}

a {
    cursor: pointer;
}

.blind {
    color: inherit;
    text-decoration: none;
    
}

.blind:hover {
    color:inherit;
    text-decoration: none;
}

.normal {
    color: rgb(234, 205, 0) !important;
    
}

.footer {
    color: rgb(57, 57, 57) !important;
    
}

.a-hidden {
    color: #777 !important;
}

sh {
   font-family: 'montserratextra_bold', sans-serif;
   text-transform: uppercase;
 font-weight: normal;
    font-style: normal;
    display: inline;
     background-color: rgb(30,30,30);
    color: white;
    border-left: 4px rgb(30,30,30) solid;
    border-right: 4px rgb(30,30,30) solid;
    font-size: 24px;
}

h1 {
    
    font-size: 3em !important;
    
}

.modaltext {
    font-family: 'playfair_displaybold_italic', serif;
    text-align: center !important;
    font-size: 2em !important;
}

h3 {
    font-size: 2em !important;
}


.section-heading {
    font-family: 'playfair_displaybold_italic', serif;
    color: rgb(30,30,30);
   /* background-color: rgb(254, 224, 3);
    border-left: 8px rgb(254, 224, 3) solid;
    border-right: 8px rgb(254, 224, 3) solid; */
    position: relative;
    text-align: center !important;
    
}

.section-heading:after {
     content:"\a";
    white-space: pre;
    padding-bottom: 10px;
}

.section-heading span {
  background-color: rgb(255, 255, 255);
    border-left: 8px rgb(255, 255, 255) solid;
    border-right: 8px rgb(255, 255, 255) solid;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.section-heading:before {
  background: rgb(73,78,85);
  content: "";
  display: block;
  height: 2px;
  position: absolute;
    top: 50%;
    
  width: 100%;
}
.section-heading:before {
  left: 0;
}

/* All Navbar Related Styling */

.navbar-default{ /* assigning the top bar to the entire navbar div element */
    text-align: center;
    box-shadow: inset 0px 6px 0px rgb(254, 224, 3); /* initial gray color to the top bar */   
    padding-top: 4px;
    background-color: rgb(248, 248, 248) !important;
    border-color: transparent
        
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: rgb(30,30,30);
    font-family: 'montserratsemi_bold', sans-serif;
    background-color: transparent;
     /* switch to a lighter color for active element */
}
.navbar .nav > li > a {
    font-size: 16px;
    color:  rgb(30,30,30) !important;
    padding-top: 17px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    
    font-family: montserratsemi_bold;
    -webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
     
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

@media (max-width: 767px) {
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    max-height: 100% !Important;

}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in {
    display: block!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
}




#header {
    background-image: url("http://hackriverdell.com/img/rdPhantom.png");
    /*background-image: url("http://www.riverdell.org/cms/lib05/NJ01001380/Centricity/Domain/1/homepage_flash/set1/2010-HS-Front.jpg");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    max-width: 100%;
    height: 100vh;
    
    
}

.headwrap {
    width: 100%;
    padding: 0;
    display: table;
    
    
}

headtext {
    font-size: 3.5em !important;
    
         line-height: 200%;
}

.headwrap .container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 50px !important;
    color: rgb(30,30,30);
    background-color: rgba(255,255,255, .75);
    
}
.headings {
    width: 1983px;
    padding-left: 97px;
    overflow: hidden;
    
    
}

.btn-px {
  color: rgb(30,30,30);
  background-color: rgb(254, 224, 3);
  border-color: rgb(254, 224, 3);;
  border-radius: 28px;
  border-width: 3px;
  font-size: 16px !important;
  font-weight: 200 !important;
  font-family: montserratbold;
    padding-right: 10px;
    right: 3px;
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

.btn-px:hover, .btn-px:focus, .btn-px:active, .btn-px.active, .open > .btn-px.dropdown-toggle {
    color: rgb(254, 224, 3);
  background-color: rgb(30,30,30);
  border-color: rgb(30,30,30);
}

.btn-one {
  color: rgb(30,30,30) !important;
  background-color: rgb(254, 224, 3);
  border-color: rgb(254, 224, 3);;
  border-radius: 10px;
  border-width: 3px;
  font-weight: 200 !important;
  font-family: montserratbold;
  
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
    
}

.btn-one:hover, .btn-one:focus, .btn-one:active, .btn-one.active, .open > .btn-one.dropdown-toggle {
    color: rgb(254, 224, 3) !important;
  background-color: rgb(30,30,30);
  border-color: rgb(30,30,30);
}

.btn-two {
  color: rgb(30,30,30) !important;
  background-color: rgb(214,214,214);
  border-color: rgb(214,214,214);
  border-radius: 10px;
  border-width: 1px;
  font-weight: 200 !important;
  font-family: 'montserratregular', sans-serif;
  
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
    
}

btn-two:hover, .btn-two:focus, .btn-two:active, .btn-two.active, .open > .btn-two.dropdown-toggle {
    color: rgb(30,30,30) !important;
    background-color: rgb(234,234,234) !important;
    border-color: rgb(234,234,234) !Important;

}


.headerlogo {
    width: 950px !important;
    
    
}

section {
    padding-top 50px;
    padding-bottom: 75px;
}

.brandlogo {
 
    width: 294px; 
    padding-left: 8px; 
    padding-top: 4px;
    
}

.abt-sect {
    padding-bottom: 35px;
    
}

iframe {
 width: 100%;
}

footer {
    min-height: 250px;
    background-color: rgb(232, 232, 232);
    color: #333333;
    padding-top: 20px;
    padding-bottom: 0px; !important
    
}

div .footer-content {
    
    text-align: center;
    align-items: center;
}

.leg-img {
    width: 35%;

    
}

.schedule {
    font-size: 2em;
    font-family: 'montserratlight', sans-serif;
}

.sch-container {
    padding-left: 0px;
}

.intel {
    padding-left: 75px;
    padding-top: 0px;
    max-width: 75%;
}

.ok {
    padding-top: 0;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 95%;
}

.ms {
    max-width: 85%; 
    padding-top: 40px;
}

.overlay {

   background:transparent; 
   position:relative; 
   width:100%;
   height:480px; /* your iframe height */
   top:480px;  /* your iframe height */
   margin-top:-480px;  /* your iframe height */
}

.table-borderless td,
.table-borderless th {
    border: 0 !important;
    font-size: 36px;
  
    
}

.table-borderless {
    padding-left: 120px !important;
}
    .sch-time {
         width: 350px;
        padding-left: 300px !important;
        padding-right: 30px !important;
        font-family: 'montserratbold', sans-serif;
     }
     
     .sch-event {
         width: 100%;
         font-family: 'montserratlight', sans-serif;
       
     }
.sch-emoji{
    width: 1px;
    padding-right: 30px !important;
}

.sch-icon{
    width: 40px;
}

.human {
    font-family: 'playfair_displaybold_italic', serif !important;
    font-size: 38px;
}

.human-title {
    font-family: 'montserratsemi_bold', sans-serif;
    font-size: 22px;
}

.headwrap-small {
    width: 100%;
    height: 550px !Important;
    padding: 0;
    display: table;
    
    
}

.headwrap-small .container {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 50px !important;
    color: rgb(30,30,30);
    background-color: rgba(255,255,255, .75);
    
}

.hw-quote {
   font-family: 'playfair_displaybold_italic', serif;
   text-align: center;
   font-size: 7em !Important;
}

a .socialicon{
    width: 48px;
    padding-left: 10px !important;
    padding-right: 10px !Important;
    opacity: 0.75;
}

a .socialicon:hover {
    opacity: 1.0;
}
     
.usedefault {
    font-family: 'Helvetica', sans-serif !important;
   
}

li#nav-li{
    color: rgb(30,30,30) !important;
  background-color: rgb(254, 224, 3);
  border-color: rgb(254, 224, 3);;
  border-radius: 28px;
  border-width: 3px;
  height: 40px;
  text-align: center;
  margin-top: 1%;
  font-size: 16px !important;
  font-weight: 200 !important;
  font-family: montserratbold;
    /*padding-right: 10px;
    top: 288px;*/
	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	transition: all ease 0.2s;
}

li#nav-li:hover {
    color: rgb(254, 224, 3) !important;
    background-color: rgb(30,30,30);
    border-color: rgb(30,30,30);
    border-radius: 28px;
    border-width: 3px;
    font-weight: 200 !important;
}

/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}